.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.deck {
  display: grid;
  gap: 10px;
  grid-template-columns: 6rem 6rem 6rem 6rem;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.instructions {
  width: 26rem;
  font-size: 1.5rem;
  text-align: left; 
  margin: 1rem;
}